auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9096

common:
  path_prefix: /home/docker/loki
  storage:
    filesystem:
      chunks_directory: /home/docker/loki/chunks
      rules_directory: /home/docker/loki/rules
  ring:
    kvstore:
      store: inmemory
  replication_factor: 1

ingester:
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1

storage_config:
  tsdb_shipper:
    active_index_directory: /home/docker/loki/tsdb-index
    cache_location: /home/docker/loki/tsdb-cache

  filesystem:
    directory: /home/docker/loki/chunks

schema_config:
  configs:
    - from: 2024-01-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        period: 24h

limits_config:
  reject_old_samples: true
  reject_old_samples_max_age: 168h

ruler:
  storage:
    local:
      directory: /home/docker/loki/rules
  rule_path: /home/docker/loki/rules
