aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.0
aiopenapi3==0.8.1
aiorwlock==1.5.0
aiosignal==1.4.0
aiosqlite==0.21.0
akracer==0.0.14
akshare==1.17.83
alembic==1.17.0
amqp==5.3.1
annotated-doc==0.0.3
annotated-types==0.7.0
anthropic==0.72.1
anyio==4.11.0
APScheduler==3.11.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asgiref==3.10.0
asn1crypto==1.5.1
asttokens==3.0.0
async-lru==2.0.5
asyncpg==0.30.0
attrs==25.4.0
Authlib==1.6.5
babel==2.17.0
backoff==2.2.1
bandit==1.8.6
baostock==0.8.9
bashlex==0.18
bcrypt==5.0.0
beautifulsoup4==4.14.2
bidict==0.23.1
billiard==4.2.2
binaryornot==0.4.4
black==25.11.0
bleach==6.3.0
blinker==1.9.0
bokeh==3.8.0
boltons==21.0.0
boolean.py==5.0
boto3==1.40.71
botocore==1.40.71
Bottleneck==1.4.2
bracex==2.6
bs4==0.0.2
build==1.3.0
CacheControl==0.14.3
cachetools==6.2.1
casbin==1.43.0
celery==5.5.3
certifi==2025.11.12
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
clarabel==0.11.1
cleo==2.1.0
cli_helpers==2.7.0
click==8.1.8
click-didyoumean==0.3.1
click-option-group==0.5.9
click-plugins==1.1.1.2
click-repl==0.3.0
cloudpickle==3.1.1
cn-stock-holidays==2.1.3
cobble==0.1.4
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.3
configobj==5.0.9
contextvars==2.4
contourpy==1.3.2
coverage==7.11.0
crashtest==0.4.1
croniter==5.0.1
cryptography==46.0.3
cuda-bindings==12.9.4
cuda-core==0.3.2
cuda-pathfinder==1.3.2
cuda-python==12.9.4
cuda-toolkit==12.9.1
cudf-cu12==25.10.0
cuml-cu12==25.10.0
cupy-cuda12x==13.6.0
curl_cffi==0.13.0
cvxpy==1.7.3
cycler==0.12.1
cyclonedx-python-lib==9.1.0
cyclopts==4.0.0
Cython==3.1.4
dask==2025.9.1
dask-cuda==25.10.0
dask-cudf-cu12==25.10.0
databricks-sdk==0.69.0
debugpy==1.8.17
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.4.0
distlib==0.4.0
distributed==2025.9.1
distributed-ucxx-cu12==0.46.0
distro==1.9.0
dnspython==2.8.0
docker==7.1.0
docstring_parser==0.17.0
docutils==0.22.2
dparse==0.6.4
dulwich==0.24.8
durationpy==0.10
EasyProcess==1.1
ecdsa==0.19.1
edgar==5.6.3
edgar-tool==2.1.2
efinance==0.5.5.2
email-validator==2.3.0
entrypoint2==1.1
et_xmlfile==2.0.0
exceptiongroup==1.2.2
execnet==2.1.1
executing==2.2.1
face==24.0.0
Farama-Notifications==0.0.4
fastapi==0.115.12
fastjsonschema==2.21.2
fastmcp==2.12.5
fastrlock==0.8.3
fastuuid==0.14.0
filelock==3.20.0
fin-data-api==0.1.0
fin-data-collector==0.1.0
fin-data-processor==0.1.0
findpython==0.7.0
fire==0.7.1
flake8==7.3.0
Flask==3.1.2
flask-cors==6.0.1
flatbuffers==25.9.23
fonttools==4.60.1
formation-studio==0.8.16
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.8.0
fsspec==2025.9.0
func_timeout==4.3.5
gitdb==4.0.12
GitPython==3.1.45
glom==22.1.0
google-auth==2.41.1
google-crc32c==1.7.1
googleapis-common-protos==1.71.0
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
greenlet==3.2.4
grpcio==1.76.0
gunicorn==23.0.0
gym==0.26.2
gym-notices==0.1.0
gymnasium==1.2.2
h11==0.16.0
hf-xet==1.2.0
html2text==2025.4.15
html5lib==1.1
httpcore==1.0.9
httpie==3.2.4
httplib2==0.31.0
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface-hub==0.36.0
humanfriendly==10.0
idna==3.11
ifaddr==0.2.0
iflow-sdk==0.1.0
immutables==0.21
importlib_metadata==8.4.0
importlib_resources==6.5.2
iniconfig==2.3.0
installer==0.7.0
ipykernel==7.0.1
ipython==8.37.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
iso8601==1.0.2
isodate==0.7.2
isoduration==20.11.0
isort==7.0.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.6
jiter==0.11.1
jmespath==1.0.1
joblib==1.5.2
json_repair==0.52.5
json5==0.12.1
jsonfinder==0.4.2
jsonlines==4.0.0
jsonpatch==1.33
jsonpath==0.82.2
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-path==0.3.4
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter_client==8.6.3
jupyter-console==6.6.3
jupyter_core==5.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
keyring==25.6.0
kiwisolver==1.4.9
kombu==5.5.4
lagom==2.7.7
langchain==1.0.2
langchain-core==1.0.3
langchain-mcp-adapters==0.1.12
langchain-openai==1.0.1
langgraph==1.0.2
langgraph-checkpoint==3.0.1
langgraph-prebuilt==1.0.2
langgraph-sdk==0.2.9
langsmith==0.4.41
lark==1.3.0
lazy-object-proxy==1.12.0
libcudf-cu12==25.10.0
libcuml-cu12==25.10.0
libkvikio-cu12==25.10.0
libraft-cu12==25.10.0
librmm-cu12==25.10.0
libtmux==0.47.0
libucx-cu12==1.19.0
libucxx-cu12==0.46.0
license-expression==30.4.4
lightgbm==4.6.0
limits==5.6.0
litellm==1.79.1
llvmlite==0.44.0
locket==1.0.0
loguru==0.7.3
lxml==6.0.2
Mako==1.3.10
markdown-it-py==4.0.0
markdown2==2.5.4
MarkupSafe==3.0.3
marshmallow==4.1.0
matplotlib==3.10.7
matplotlib-inline==0.2.1
mccabe==0.7.0
mcp==1.16.0
mdurl==0.1.2
memory-profiler==0.61.0
mistune==3.1.4
mkl_fft==1.3.11
mkl_random==1.2.8
mkl-service==2.5.2
mlflow==3.5.0
mlflow-skinny==3.5.0
mlflow-tracing==3.5.0
mmh3==5.2.0
more-itertools==10.8.0
motor==3.6.0
mplfinance==0.12.10b0
mpmath==1.3.0
msgpack==1.1.2
mss==10.1.0
multidict==6.7.0
multitasking==0.0.12
mypy==1.18.2
mypy_extensions==1.1.0
mysql-connector-python==9.4.0
nano-vectordb==0.0.4.3
nanoid==2.0.0
narwhals==2.8.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
nicegui==3.0.4
nltk==3.9.2
notebook==7.4.7
notebook_shim==0.2.4
numba==0.61.2
numba-cuda==0.19.1
numexpr==2.11.0
numpy==2.2.6
nvidia-cublas-cu12==12.9.1.4
nvidia-cuda-cccl-cu12==12.9.27
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvcc-cu12==12.9.86
nvidia-cuda-nvrtc-cu12==12.9.86
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.4.1.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.10.19
nvidia-cusolver-cu12==11.7.5.82
nvidia-cusparse-cu12==12.5.10.65
nvidia-cusparselt-cu12==0.6.3
nvidia-ml-py==13.580.82
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
nvtx==0.2.13
oauthlib==3.3.1
onnxruntime==1.23.2
openai==1.109.1
openapi-core==0.19.5
openapi-pydantic==0.5.1
openapi-schema-validator==0.6.3
openapi-spec-validator==0.7.1
openapi3-parser==1.1.21
openpyxl==3.1.5
opentelemetry-api==1.37.0
opentelemetry-exporter-otlp-proto-common==1.37.0
opentelemetry-exporter-otlp-proto-grpc==1.28.2
opentelemetry-exporter-otlp-proto-http==1.37.0
opentelemetry-instrumentation==0.58b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-instrumentation-requests==0.58b0
opentelemetry-proto==1.37.0
opentelemetry-sdk==1.37.0
opentelemetry-semantic-conventions==0.58b0
opentelemetry-semantic-conventions-ai==0.4.13
opentelemetry-util-http==0.58b0
orjson==3.11.3
ormsgpack==1.12.0
osqp==1.0.5
overrides==7.7.0
packageurl-python==0.17.5
packaging==25.0
pandas==2.3.3
pandocfilters==1.5.1
parlant==3.1.0a1
parlant-client==1.2.0
parse==1.20.2
parse_type==0.6.6
parso==0.8.5
partd==1.4.2
passlib==1.7.4
pathable==0.4.4
pathspec==0.12.1
pbs-installer==2025.10.28
peewee==3.18.3
pep8-naming==0.13.3
pexpect==4.9.0
pfzy==0.3.4
pgcli==4.3.0
pgspecial==2.2.1
pillow==11.3.0
pip==25.3
pip-api==0.0.34
pip_audit==2.9.0
pip-requirements-parser==32.0.1
pkginfo==1.12.1.2
platformdirs==4.5.0
playwright==1.55.0
plotly==6.4.0
pluggy==1.6.0
poetry==2.2.1
poetry-core==2.2.1
portalocker==2.10.1
posthog==5.4.0
prance==25.4.8.0
prometheus-client==0.19.0
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.26.1
protobuf==5.29.5
psutil==7.1.0
psycopg==3.2.12
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.30
py==1.11.0
py-cpuinfo==9.0.0
py-mini-racer==0.6.0
py-serializable==2.1.0
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase62==1.0.0
pybase64==1.4.2
pybreaker==1.4.1
pycodestyle==2.14.0
pycparser==2.23
pydantic==2.12.3
pydantic_core==2.41.4
pydantic-settings==2.11.0
pydub==0.25.1
pyee==13.0.0
pyflakes==3.4.0
Pygments==2.19.2
PyJWT==2.10.1
pylatexenc==2.10
pylibcudf-cu12==25.10.0
pylibraft-cu12==25.10.0
pymongo==4.9.2
PyMySQL==1.1.1
PyNaCl==1.6.0
pyotp==2.9.0
pyparsing==3.2.5
pypdf==6.1.3
PyPDF2==3.0.1
pyperclip==1.11.0
PyPika==0.48.9
pyproject_hooks==1.2.0
pyqlib==0.9.8.dev7+g7d66e4b78
pyscreenshot==3.1
PySocks==1.7.1
pytdx==1.72
pytest==7.4.4
pytest-asyncio==0.23.8
pytest-base-url==2.1.0
pytest-bdd==7.3.0
pytest-benchmark==5.1.0
pytest-cov==5.0.0
pytest-mock==3.15.1
pytest-playwright==0.4.3
pytest-tap==3.5
pytest-timing==0.1.4
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.1.1
python-engineio==4.12.3
python-frontmatter==1.1.0
python-jose==3.3.0
python-json-logger==3.3.0
python-multipart==0.0.20
python-pptx==1.0.2
python-redis-lock==4.0.0
python-slugify==8.0.4
python-socketio==5.14.2
python-toon==0.1.2
pytokens==0.3.0
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
qrcode==8.2
QtPy==2.4.3
raft-dask-cu12==25.10.0
RapidFuzz==3.14.1
rapids-dask-dependency==25.10.0
rapids-logger==0.1.19
redis==6.4.0
referencing==0.36.2
regex==2025.10.23
reportlab==4.4.4
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retry==0.9.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==13.5.3
rich-rst==1.3.2
rmm-cu12==25.10.0
rpds-py==0.28.0
rsa==4.9.1
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.14
ruff==0.9.10
s3transfer==0.14.0
safetensors==0.6.2
safety==3.7.0
safety-schemas==0.0.16
scantree==0.0.4
schedule==1.2.2
scikit-learn==1.7.2
scipy==1.15.3
scramp==1.4.6
screeninfo==0.8.1
scs==3.2.9
seaborn==0.13.2
SecretStorage==3.4.0
semgrep==1.143.0
semver==3.0.4
Send2Trash==1.8.3
setproctitle==1.3.7
setuptools==80.9.0
setuptools-scm==9.2.2
shapely==2.1.2
shellingham==1.5.4
simple-websocket==1.1.0
simpleeval==1.0.3
simplejson==3.20.2
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8
SpeechRecognition==3.14.3
SQLAlchemy==2.0.44
sqlparse==0.5.3
sse-starlette==3.0.2
stack-data==0.6.3
starlette==0.46.2
stevedore==5.5.0
structlog==24.4.0
swagger-ui-py==25.7.1
sympy==1.14.0
ta==0.11.0
TA-Lib==0.6.7
tabulate==0.9.0
taos-ws-py==0.6.2
taospy==2.8.5
tap.py==3.2.1
taskmaster-pro==0.1.0
tblib==3.2.1
tenacity==9.1.2
termcolor==3.1.0
terminado==0.18.1
text-unidecode==1.3
threadpoolctl==3.6.0
tiktoken==0.11.0
tinycss2==1.4.0
tkinterdnd2==0.4.3
tokenizers==0.20.3
toml==0.10.2
tomli==2.0.2
tomlkit==0.13.3
toolz==1.1.0
torch==2.7.1
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.46.3
tree-sitter==0.24.0
tree-sitter-c-sharp==0.23.1
tree-sitter-embedded-template==0.25.0
tree-sitter-language-pack==0.7.3
tree-sitter-yaml==0.7.2
treelite==4.4.1
triton==3.3.1
trove-classifiers==2025.9.11.17
tushare==1.4.24
typer==0.20.0
types-aiofiles==24.1.0.20250822
types-cachetools==6.2.0.20251022
types-croniter==4.0.0.20241030
types-jsonschema==4.25.1.20251009
types-python-dateutil==2.9.0.20251008
types-requests==2.32.4.20250913
types-toml==0.10.8.20240310
typing_extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.2
tzlocal==5.3.1
ucxx-cu12==0.46.0
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.5.0
uuid7==0.1.0
uvicorn==0.38.0
uvloop==0.21.0
vine==5.1.0
virtualenv==20.35.4
vulners==3.1.2
watchfiles==1.1.0
wcmatch==8.5.2
wcwidth==0.2.14
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.1
whatthepatch==1.0.7
wheel==0.45.1
widgetsnbextension==4.0.14
wrapt==1.17.3
wsproto==1.2.0
xlrd==2.0.2
XlsxWriter==3.1.9
xlwings==0.31.0
xmltodict==0.13.0
xxhash==3.6.0
xyzservices==2025.4.0
yarl==1.22.0
yfinance==0.2.66
zict==3.0.0
zipp==3.23.0
zope.interface==7.2
zstandard==0.25.0
